<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232128442716-aktpdolj4ss2havb41kfm7bp6l9gs31u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232128442716-aktpdolj4ss2havb41kfm7bp6l9gs31u</string>
	<key>API_KEY</key>
	<string>AIzaSyBVJ6LB_O-KlKL9R326vmCQuxFsGreDews</string>
	<key>GCM_SENDER_ID</key>
	<string>232128442716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naetos.TsukutteAsobo</string>
	<key>PROJECT_ID</key>
	<string>covidapp-8d325</string>
	<key>STORAGE_BUCKET</key>
	<string>covidapp-8d325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232128442716:ios:e7eb2a4b87868a52d9d199</string>
</dict>
</plist>